# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

| Data Science Tools      |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| Apache Zeppelin         |

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python

- `3 + 5` results in **8**
- `10 - 4` results in **6**
- `6 * 7` results in **42**

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Create tables in a Jupyter Notebook using Markdown and Python
- List common Data Science libraries
- Perform basic arithmetic operations in Python
- Convert units (e.g. minutes to hours) using Python expressions

## Author

Ali Asiri